.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65)), url("../../assets/instruments.jpg") bottom center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .hero .title {
      font-weight: bold; } }
  @media screen and (min-width: 768px) {
    .hero .title {
      font-size: 2.5rem; } }
  @media screen and (min-width: 1000px) {
    .hero .title {
      font-size: 4rem;
      margin-top: 2.5rem; } }
  .hero .title, .hero .subtitle {
    color: white; }

h2 {
  margin: 1.5rem 0 2rem 0 !important; }

.fa-cog {
  font-size: 40px; }

@media screen and (min-width: 1000px) {
  #learn {
    margin-bottom: 2rem; } }

@media screen and (min-width: 768px) {
  .pd {
    padding: 2em 0; } }

.somethingnew {
  color: #1EC9AC; }
