@import '../../mediaqry.sass'

.hero
  background: linear-gradient(rgba(black, 0.4), rgba(black, 0.65)), url('../../assets/instruments.jpg') bottom center
  background-size: cover
  // background-attachment: fixed
  // background-repeat: no-repeat

  .title
    +mobile
      font-weight: bold
    +tablet
      font-size: 2.5rem
    +desktop
      font-size: 4rem
      margin-top: 2.5rem
  .title, .subtitle
    color: white
  
h2
  margin: 1.5rem 0 2rem 0 !important

.fa-cog
  font-size: 40px

#learn
  +desktop
    margin-bottom: 2rem

.pd
  +tablet
    padding: 2em 0
.somethingnew
  color: $primary