@import '../../mediaqry.sass'

.nav
    background-color: #383838
    a:hover
        color: white

.nav-left a
    color: #fff
    font-weight: bold

a.r-item
    color: #C1C1C1
    padding: 0.5rem 1.75rem
    +mobile
        color: gray
        &:hover
            background-color: #F1F1F1

.nav-toggle span
    background-color: #C1C1C1